[submodule "requirejs"]
    path = requirejs
    url = https://github.com/jrburke/requirejs
[submodule "dojo"]
    path = dojo
    url = https://github.com/dojo/dojo
[submodule "esprima"]
    path = esprima
    url = https://github.com/ariya/esprima
[submodule "escodegen"]
    path = escodegen
    url = https://github.com/Constellation/escodegen
[submodule "istanbul"]
    path = istanbul
    url = https://github.com/gotwarlost/istanbul
