[submodule "requirejs"]
    path = requirejs
    url = git://github.com/jrburke/requirejs.git
[submodule "dojo"]
    path = dojo
    url = git://github.com/dojo/dojo.git
[submodule "esprima"]
    path = esprima
    url = git://github.com/ariya/esprima.git
[submodule "escodegen"]
    path = escodegen
    url = git://github.com/Constellation/escodegen.git
[submodule "istanbul"]
    path = istanbul
    url = git://github.com/gotwarlost/istanbul.git
